<a href="https://colab.research.google.com/github/Farheena12/Assignment-with-Sql/blob/main/ipl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assessment for DE Internship at DataGrokr**

Section 1: Environment setup and data loading

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [2]:
!wget -q https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz

In [3]:
!tar xf spark-3.1.2-bin-hadoop2.7.tgz

In [27]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

In [28]:
!pip install -q findspark
import findspark
findspark.init()

In [32]:
from pyspark.sql.functions import *

In [33]:
from pyspark.sql import SparkSession
spark = (SparkSession.builder.appName("iplapp").getOrCreate())

In [46]:
df1 = spark.read.load("/content/ipl_ball_by_ball.csv",format="csv", sep=";", header="true")

In [47]:
#read the dataset
df1 = spark.read.option('header','True').csv('/content/ipl_ball_by_ball.csv')

In [48]:
df1.printSchema()

root
 |-- match_id: string (nullable = true)
 |-- inning: string (nullable = true)
 |-- overs: string (nullable = true)
 |-- ball: string (nullable = true)
 |-- batsman: string (nullable = true)
 |-- non_striker: string (nullable = true)
 |-- bowler: string (nullable = true)
 |-- batsman_runs: string (nullable = true)
 |-- extra_runs: string (nullable = true)
 |-- total_runs: string (nullable = true)
 |-- non_boundary: string (nullable = true)
 |-- is_wicket: string (nullable = true)
 |-- dismissal_kind: string (nullable = true)
 |-- player_dismissed: string (nullable = true)
 |-- fielder: string (nullable = true)
 |-- extras_type: string (nullable = true)
 |-- batting_team: string (nullable = true)
 |-- bowling_team: string (nullable = true)

In [51]:
df_ball = df1.withColumn('inning',col('inning').cast('int'))
df_ball = df1.withColumn('overs',col('overs').cast('int'))
df_ball = df1.withColumn('batsman',col('batsman').cast('varchar(100)'))
df_ball = df1.withColumn('non_striker',col('non_striker').cast('varchar(100)'))
df_ball = df1.withColumn('baller',col('bowler').cast('varchar(100)'))
df_ball = df1.withColumn('batsman_runs',col('batsman_runs').cast('int'))
df_ball = df1.withColumn('extra_runs',col('extra_runs').cast('int'))
df_ball = df1.withColumn('total_runs',col('total_runs').cast('int'))
df_ball = df1.withColumn('non_boundary',col('non_boundary').cast('int'))
df_ball = df1.withColumn('is_wicket', col('is_wicket').cast('int'))
df_ball = df1.withColumn('dismissal_kind',col('dismissal_kind').cast('varchar(10)'))
df_ball = df1.withColumn('player_dismissed',col('player_dismissed').cast('varchar(100)'))
df_ball = df1.withColumn('fielder',col('fielder').cast('varchar(100)'))
df_ball = df1.withColumn('extras_type',col('batting_team').cast('varchar(100)'))
df_ball = df1.withColumn('bowling_team',col('bowling_team').cast('varchar(100)'))
df_ball = df1.withColumn('match_id',col('match_id').cast('int'))

In [50]:
df_ball.printSchema()

root
 |-- match_id: integer (nullable = true)
 |-- inning: string (nullable = true)
 |-- overs: string (nullable = true)
 |-- ball: string (nullable = true)
 |-- batsman: string (nullable = true)
 |-- non_striker: string (nullable = true)
 |-- bowler: string (nullable = true)
 |-- batsman_runs: string (nullable = true)
 |-- extra_runs: string (nullable = true)
 |-- total_runs: string (nullable = true)
 |-- non_boundary: string (nullable = true)
 |-- is_wicket: string (nullable = true)
 |-- dismissal_kind: string (nullable = true)
 |-- player_dismissed: string (nullable = true)
 |-- fielder: string (nullable = true)
 |-- extras_type: string (nullable = true)
 |-- batting_team: string (nullable = true)
 |-- bowling_team: string (nullable = true)

In [52]:
df_ball.show()

+--------+------+-----+----+-------------+-------------+------------+------------+----------+----------+------------+---------+--------------+----------------+-------+-----------+--------------------+--------------------+
|match_id|inning|overs|ball|      batsman|  non_striker|      bowler|batsman_runs|extra_runs|total_runs|non_boundary|is_wicket|dismissal_kind|player_dismissed|fielder|extras_type|        batting_team|        bowling_team|
+--------+------+-----+----+-------------+-------------+------------+------------+----------+----------+------------+---------+--------------+----------------+-------+-----------+--------------------+--------------------+
|  419157|     2|   16|   4|      V Kohli|R Vinay Kumar|CRD Fernando|           0|         0|         0|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   16|   5|      V Kohli|R Vinay Kumar|CRD Fernando|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   16|   6|R Vinay Kumar|      V Kohli|CRD Fernando|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   1|R Vinay Kumar|      V Kohli|   R McLaren|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   2|      V Kohli|R Vinay Kumar|   R McLaren|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   3|R Vinay Kumar|      V Kohli|   R McLaren|           0|         0|         0|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   4|R Vinay Kumar|      V Kohli|   R McLaren|           0|         0|         0|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   5|R Vinay Kumar|      V Kohli|   R McLaren|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   6|      V Kohli|R Vinay Kumar|   R McLaren|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   1|      V Kohli|R Vinay Kumar|  KA Pollard|           4|         0|         4|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   2|      V Kohli|R Vinay Kumar|  KA Pollard|           0|         0|         0|           0|        1|        caught|         V Kohli|AP Tare|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   3|R Vinay Kumar| Pankaj Singh|  KA Pollard|           0|         1|         1|           0|        0|            NA|              NA|     NA|      wides|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   4|R Vinay Kumar| Pankaj Singh|  KA Pollard|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   5| Pankaj Singh|R Vinay Kumar|  KA Pollard|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   6|R Vinay Kumar| Pankaj Singh|  KA Pollard|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   7| Pankaj Singh|R Vinay Kumar|  KA Pollard|           0|         0|         0|           0|        1|        caught|    Pankaj Singh| Z Khan|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   19|   1|     A Kumble|R Vinay Kumar|   R McLaren|           0|         0|         0|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     1|    0|   1|    R McLaren| SR Tendulkar|    DW Steyn|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|      Mumbai Indians|Royal Challengers...|
|  419157|     1|    0|   2| SR Tendulkar|    R McLaren|    DW Steyn|           0|         0|         0|           0|        0|            NA|              NA|     NA|         NA|      Mumbai Indians|Royal Challengers...|
|  419157|     1|    0|   3| SR Tendulkar|    R McLaren|    DW Steyn|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|      Mumbai Indians|Royal Challengers...|
+--------+------+-----+----+-------------+-------------+------------+------------+----------+----------+------------+---------+--------------+----------------+-------+-----------+--------------------+--------------------+
only showing top 20 rows

In [53]:
df2 = spark.read.load("/content/ipl_matches.csv",format="csv", sep=";", header="true")

In [63]:
df2.printSchema()

root
 |-- match_id: string (nullable = true)
 |-- date: string (nullable = true)
 |-- player_of_match: string (nullable = true)
 |-- venue_id: string (nullable = true)
 |-- neutral_venue: string (nullable = true)
 |-- team1: string (nullable = true)
 |-- team2: string (nullable = true)
 |-- toss_winner: string (nullable = true)
 |-- toss_decision: string (nullable = true)
 |-- winner: string (nullable = true)
 |-- result: string (nullable = true)
 |-- result_margin: string (nullable = true)
 |-- eliminator: string (nullable = true)
 |-- method: string (nullable = true)
 |-- umpire1: string (nullable = true)
 |-- umpire2: string (nullable = true)

In [62]:
#read the dataset
df2 = spark.read.option('header','True').csv('/content/ipl_matches.csv')

In [61]:
df_matches = df2.withColumn('match_id',col('match_id').cast('int'))
df_matches = df2.withColumn('date',col('date').cast('datetime'))
df_matches = df2.withColumn('player_of_match',col('player_of_match').cast('varchar(100)'))
df_matches = df2.withColumn('team1',col('team1').cast('varchar(100)'))
df_matches = df2.withColumn('team2',col('team2').cast('varchar(100)'))
df_matches = df2.withColumn('toss_winner',col('toss_winner').cast('varchar(100)'))
df_matches = df2.withColumn('toss_decision',col('toss_decision').cast('varchar(20)'))
df_matches = df2.withColumn('winner',col('winner').cast('varchar(100)'))
df_matches = df2.withColumn('result',col('result').cast('varchar(20)'))
df_matches = df2.withColumn('result_margin',col('result_margin').cast('int'))
df_matches = df2.withColumn('eliminator', col('eliminator').cast('varchar(1)'))
df_matches = df2.withColumn('method',col('method').cast('varchar(5)'))
df_matches = df2.withColumn('umpire1',col('umpire1').cast('varchar(50)'))
df_matches = df2.withColumn('umpire2',col('umpire2').cast('varchar(50)'))
df_matches = df2.withColumn('venue_id',col('venue_id').cast('int'))

ParseException: ignored

In [69]:
df3 = spark.read.load("/content/ipl_venue.csv",format="csv", sep=";", header="true")

In [70]:
#read the dataset
df3 = spark.read.option('header','True').csv('/content/ipl_venue.csv')

In [73]:
df_venue = df3.withColumn('venue_id',col('venue_id').cast('int')).show()
df_venue = df3.withColumn('venue',col('venue').cast('varchar(100)'))
df_venue = df3.withColumn('city',col('city').cast('varchar(50)'))

+--------+--------------------+--------------+
|venue_id|               venue|          city|
+--------+--------------------+--------------+
|       1|Dr. Y.S. Rajasekh...| Visakhapatnam|
|       2|Sharjah Cricket S...|       Sharjah|
|       3|JSCA Internationa...|        Ranchi|
|       4|Saurashtra Cricke...|        Rajkot|
|       5|Shaheed Veer Nara...|        Raipur|
|       6|Maharashtra Crick...|          Pune|
|       7|Subrata Roy Sahar...|          Pune|
|       8|    St George's Park|Port Elizabeth|
|       9|Vidarbha Cricket ...|        Nagpur|
|      12|   Brabourne Stadium|        Mumbai|
|      13|Dr DY Patil Sport...|        Mumbai|
|      14|    Wankhede Stadium|        Mumbai|
|      15|        Eden Gardens|       Kolkata|
|      16|       Nehru Stadium|         Kochi|
|      17|De Beers Diamond ...|     Kimberley|
|      18|          Green Park|        Kanpur|
|      19|New Wanderers Sta...|  Johannesburg|
|      20|Sawai Mansingh St...|        Jaipur|
|      21|Holkar Cricket St...|        Indore|
|      22|Rajiv Gandhi Inte...|     Hyderabad|
+--------+--------------------+--------------+
only showing top 20 rows

In [74]:
df_venue.printSchema()

root
 |-- venue_id: string (nullable = true)
 |-- venue: string (nullable = true)
 |-- city: string (nullable = true)

Section 2: Using pySpark for data analysis

1. Find the top 3 venues which hosted the most number of eliminator matches?